body{
    background: green;
}

#hello{
    background: dimgrey;
    border-radius: 400px;
    border-color: black;
    text-align: center;
    padding: 30px;
}

#topic{
    background: dimgrey;
    border-radius: 200px;
    text-align: center;
    padding: 50px;
    width: 200px;

}